* text=auto eol=lf

*.cs text diff=csharp
*.shader text
*.compute text
*.cginc text
*.json text
*.md text
*.yml text
*.yaml text
*.uxml text
*.uss text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.psd binary
*.fbx binary
*.anim binary
*.controller binary
*.unity binary
*.prefab binary
*.mat binary
*.asset binary
*.wav binary
*.mp3 binary
*.ogg binary
*.mp4 binary
